<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="routerdash" xsi:type="array">
                    <item name="class" xsi:type="string">Hummingbird\Module\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">70</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Controller\Product">
        <plugin name="product-view-controller-plugin" type="Hummingbird\Module\Plugin\Magento\Catalog\Controller\Product\View" sortOrder="5" disabled="false" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Description">
        <plugin name="product-view-description-plugin" type="Hummingbird\Module\Plugin\Magento\Catalog\Block\Product\View\Description" />
    </type>
</config>