<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="module_test" instance="Hummingbird\Module\Observer\Log" shared="false" />
    </event>
    <event name="controller_front_send_response_before">
        <observer name="module_test" instance="Hummingbird\Module\Observer\Log2" shared="false" />
    </event>
</config>