<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mod9" translate="label" sortOrder="200">
            <label>Mod9</label>
        </tab>      
        <section id="module_test" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>module-separator</class>
            <label>2Fields</label>
            <tab>mod9</tab>
            <resource>Hummingbird_Module::module_config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
			<group id="text" translate="label" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Text</label>
                <field id="custom_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Text</label>
                    <comment>This is Custom text</comment>
                </field>
            </group>
        </section>
    </system>
</config>